header
    .jumbotron
        .container
            .row
                .col-12.center
                    img(src="assets/images/bonvivant-logo.svg")
                    h1 bonvivant
                    h2 S'implifier la bouffe santé ! 